/* ========== paleta de colores  =============
.color1 { #bda27b };
.color2 { #ab916b };
.color3 { #99805b };
.color4 { #866e4a };
.color5 { #745d3a };
*/

body {
background: linear-gradient(#ab916b, #745d3a);
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}

/*header*/
.encabezado {
    width: 100%;
    height: 30rem;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
    align-content: center;
    background-image: url(https://images.unsplash.com/photo-1722182877533-7378b60bf1e8?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9uZG8lMjBkZSUyMGxhJTIwYmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulos {
    width: 100%;
    height: 30rem;
    margin-top: 0rem;
    align-content: center;
    background-color: #0009;
}

.titulo {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px 2px #fff;
    animation: escalar 1.5s forwards;
}

.titulo2 {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #000a;
    animation: escalar 2s forwards;
}

/*========== Cuerpo ==========*/
.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-left: 0;
    white-space: pre-line;
}

/*navegador*/
.navegador {
    position: sticky;
    top: 15vh;
    left: 0;
    width: 20vh;
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1722182877533-7378b60bf1e8?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9uZG8lMjBkZSUyMGxhJTIwYmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 2rem;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 8px;
    line-height: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
.navegador li {
    list-style-type: none;
    margin: 0.5rem ;
}

.navegador a {
    color: #fff;
}

.navegador-boton {
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
    line-height: 2em;
    color: #fff;
    transition: transform 0.3s;
}
.navegador-boton :hover {
    transform: scale(1.4);
    color: #ab916b;
}

/*========== main ==========*/
.principal {
width: calc(100% - 20vh); /* opcional para que se adapte */;
margin: 2rem;
margin-right: 6rem;
margin-top: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-sizing: border-box;
}

.titular-seccion {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-shadow: 0 1px 2px #bda27b;
    margin-bottom: 0rem;
}

.parrafo-main {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
    font-family: nunito;
    line-height: 1.5rem;
    padding-bottom: 6rem;
    border-bottom: 1.5px solid #000;
}
#sobre-nosotros {
width: 85%;
}

.resaltado {
    font-weight: bolder;
}

.recomendaciones {
    display: flex;
    flex-direction: row;

}

.recomendacion {
    width: 33%;
    background: linear-gradient(#99805b, #745d3a);
    margin: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-top: 1px solid #bda27b;
    box-shadow: 0 5px 10px 1px #000a;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-recomendacion {
    text-shadow: 0 1px 2px #bda27b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em;
    margin-bottom: 3em;
}

.img-recomendacion {
    width: 10em;
}

.parrafo-recomendacion {
    text-align: center;
    margin-bottom: 4rem;
    font-family: nunito;
    padding-bottom: 3rem;
}

/*========== form ==========*/
.contacto {
    white-space:initial;
    width: 85%;
    margin-top: 2rem;
}


.caja-de-contacto {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1722182877533-7378b60bf1e8?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9uZG8lMjBkZSUyMGxhJTIwYmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: bottom;
    font-family: montserrat;
    color: #fff;
    padding: 1.2rem;
    border-radius: 8px;
}

.caja-de-contacto legend {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0 1px 4px #000;
    padding: 0.7rem;
}

.caja-de-contacto input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #745d3a;
}

.caja-de-contacto label {
    font-size: 0.9rem;

}

.caja-de-contacto input {
    font-family: nunito;
    margin: 0.5rem;
    padding: 0.9rem;
    background-color: #bda27b;
}

.caja-de-contacto select {
    font-family: nunito;
    justify-content: center;
    align-items: center;
    padding: 0.45rem;
    margin: 0.5rem;
    background-color: #bda27b;
}
.caja-de-contacto option {
    font-family: nunito;
    background-color: #bda27b;
}

.caja-de-contacto textarea {
    background-color: #bda27b;
    color: #000;
    font-family: nunito;
    font-size: 1rem;
    resize: none;
    padding: 0.45rem;
    margin: 0.5rem;
}

.caja-de-contacto textarea::placeholder {
    font-size: 0.9rem;
}

.terminos, .terminos a {
    box-sizing: border-box;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: right;
}

.acepto input {
    transition: transform 0.3s;
}
.acepto input:hover {
    transform: scale(1.5);
}


.boton {
    margin-left: 87%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-items: right;
}

.enviar1 {
    box-sizing: border-box;
    justify-content: right;
    width: 6rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px #0002;
    transition: transform 0.4s; 
}

.enviar1:hover {
    transform: scale(1.2);
    background-color: #bda27b;
}

/*========== footer ==========*/
.piedepagina {
    width: 100%;
    height: 15rem;
    box-sizing: border-box;
    margin: 0;
    justify-content: right;
    align-content: center;
    background-image: url(https://images.unsplash.com/photo-1722182877533-7378b60bf1e8?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9uZG8lMjBkZSUyMGxhJTIwYmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.desarrollador {
    align-items: right;
    display: flex;
    flex-direction: column;
    margin-left: 75%;
}

.textopie {
    font-family: montserrat;
    font-size: 1.2rem;
    text-align: right;
    margin-top: 0;
    margin-right: 5rem;
    margin-bottom: 0;
    color: #fff;
}

.redes {
    display: flex;
    font-size: 2rem;
    text-align: right;
    align-items: right;
    margin-top: 0;
    margin-right: 7rem;
    justify-content: center;
    color: #fff;
}

.redes a {
    color: #fff;
}

.redes li {
    list-style-type: none;
}

.redes i {
    padding: 0.5rem;
}

.redes i:hover {
    transform: scale(1.3);
    color: #bda27b;
}
/*========== Animaciones ==========*/

@keyframes escalar {
    from {
        transform: scale(0.7);
        opacity: 0.1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

